# Docker
.docker/
docker-compose.override.yml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Media and static files
media/
static/
staticfiles/

# Node modules
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# Database
db.sqlite3

# Logs
*.log

# Certificates
backend/certificates/*
!backend/certificates/.gitkeep

# Certificates
/certificates/*
!/certificates/.gitkeep